:root {
    --primary: #4628ff;
    --warning: #ffd028;
}

.btn {
    font-family: "Roborto", sans-serif;
    font-weight: 400;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.3s ease;
    margin-left: 27rem;
    margin-right: -27rem;
    margin-bottom: 4rem;
    width: 14%;
    background-color: var(--primary);
    color: var(--white);
}

.btn:hover{
    transform: translateY(3px);
}

/* Button Size */

.btn--medium{
    padding: 10px 20px;
    font-size: 10px;
}

.btn--large {
    padding: 15px 30ps;
    font-size: 20px;
}




