html {
    font-family: 'Roboto Light', sans-serif;
}

body {
    height: 100vh;
    background-image: linear-gradient(to top left, #439b9c, #71eeb5);
    margin: 0;
    display: grid;
    place-items: center;
    overflow: hidden;
    /*padding: 0 1.5rem;*/
}

.cards {
    display: flex;
    padding: 0 5.5rem;
}

.card {
    border-radius: 12px;    /* rounded corners*/
    /*width: 12rem;*/
    /*height: 36vh;*/
    /* Manually setting card size mean they won't resize dynamically
       when browser size change
       BUT it does provide a more uniform look for all of the cards*/

/*    Hover off animation so it smooth
        when mouse move away*/

    transition: transform 0.3s ease;
    box-shadow: 5px 10px 15px 10px rgba(0,0,0,0.253)!important;
}


.card:hover {
    z-index: 1;
    transform: scale(1.5) translateY(4rem);
    transition: transform 0.3s ease;
    box-shadow: 10px 20px 24px 9px rgba(0,0,0,0.253)!important;
}

.card-body {
    padding: 1.2rem 0 !important;
}

.breakfast {
    font-size: 15px;
}

.lunch {
    font-size: 15px;
}

.dinner {
    font-size: 15px;
}

.card-text, .list {
    text-align: left;
    font-size: 12px;
    padding: 0.1rem 1rem;
}

/*.recipeCard {*/
/*    background: white;*/
/*    border-radius: 9px;*/
/*}*/

/*__For Recipe card to show on hover__*/
/*.card:after {*/
/*    border-radius: 9px;*/
/*    content: '';*/
/*    display: block;*/
/*    background: #defade;*/
/*    opacity: 0;*/
/*    transform: translateY(-1px);*/
/*    transition: transform .5s;*/
/*}*/

/*.card:hover:after {*/
/*    !*Doing it this way, we don't have a way to add texts, images into the recipe*!*/
/*    content: 'Recipe';*/
/*    !*---------------------*!*/
/*    opacity: 1;*/
/*    position: absolute;*/
/*    transform: translateY(3.3rem);*/
/*    width: 100%;*/
/*    height: 81%;*/
/*    transition: transform .5s;*/
/*}*/
/*__(END) For Recipe card to show on hover__*/



/*.recipeCard:hover {*/
/*    opacity: 1;*/
/*    position: absolute;*/
/*    transform: translateY(3.3rem);*/
/*    transition: transform .5s;*/
/*}*/

/*.card:after, .recipeCard {*/
/*    z-index: 2;*/
/*    content: attr(title);*/
/*    background: red;*/
/*    !*box-shadow: 5px 10px 15px 10px rgba(0,0,0,0.253)!important;*!*/
/*    display: block;*/
/*    opacity: 0;*/
/*    transform: translateY(-1px);*/
/*    transition: transform .5s;*/
/*}*/

/*.card:hover:after, .recipeCard {*/
/*    content: attr(title);*/
/*    opacity: 1;*/
/*    position: absolute;*/
/*    transform: translateY(3.3rem);*/
/*    !*width: 100%;*!*/
/*    !*height: 81%;*!*/
/*    transition: transform .5s;*/
/*}*/

/* For image at the top of the card in case we still need it*/

.overflow {
    position: absolute;
    overflow: hidden;
}

.card-img-top {
    border-radius: 9px;
    /*padding-left: 30px;*/
    width: auto;
    height: 70px;
    /*display: block;*/
    /*display: block;*/

    /*transform: translateY(-6rem);*/
}

.breakfast {
    margin-top: 30px;
}

/*.recipe {*/
/*    width: 12rem;*/
/*    height: 36vh;*/
/*}*/